.siatkaTest {
    display: grid; 
    grid-template-columns: repeat(10, 80px); 
    grid-gap: 5px;
    margin: 20px auto;
    width: fit-content;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: lightblue;
    border: 1px solid #ddd;
}

.checked {
    border: 2px solid black;
}

.frog {
    background-color: green;
}

/* .jumpOption {
    background-color: blue;
} */

.cell.disabled {
    background-color: #C3CED1;
    pointer-events: none;
}